<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" />
	</system.web>
	<!-- W przypadku wdrażania projektu biblioteki usługi zawartość pliku konfiguracji należy dodać do pliku 
  app.config hosta. Element System.Configuration nie obsługuje plików konfiguracji bibliotek. -->
	<system.serviceModel>
		<services>
			<service name="Moria.MiddlewareService.Services.ContractsService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/Moria.MiddlewareService/contracts/" />
					</baseAddresses>
				</host>
				
				<!-- Service Endpoints -->
				<!-- Jeśli adres nie jest w pełni kwalifikowany, jest określany względem adresu podstawowego podanego powyżej -->
				<endpoint address="" binding="basicHttpBinding" contract="Moria.MiddlewareService.Interfaces.ISalesOrder">
					<!-- 
              Po wdrożeniu należy usunąć lub zamienić następujący element tożsamości, aby odzwierciedlał 
              tożsamość, której używa wdrożona usługa. W przypadku usunięcia elementu usługa WCF automatycznie wywnioskuje odpowiednią 
              tożsamość.
          -->
					<identity>
						<dns value="localhost" />
					</identity>
				
				</endpoint>
				<!-- Metadata Endpoints -->
				<!-- Punkt końcowy wymiany metadanych jest używany przez usługę w celu opisania siebie klientom. -->
				<!-- Ten punkt końcowy nie używa bezpiecznego powiązania i powinien zostać zabezpieczony lub usunięty przed wdrożeniem -->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					
					<!-- Aby zapobiec ujawnieniu informacji o metadanych, 
          ustaw dla poniższych elementów wartość false przed wdrożeniem -->
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
					<!-- Aby uzyskać szczegółowe informacje o wyjątku dotyczące błędów na potrzeby debugowania, 
          ustaw dla poniższego elementu wartość true. Ustaw wartość false przed wdrożeniem, 
          aby zapobiec ujawnieniu informacji o wyjątku -->
					<serviceDebug includeExceptionDetailInFaults="True" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

		<dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.2.0.0" newVersion="8.2.0.0" />
      </dependentAssembly>
			
      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.1.0.0" newVersion="8.1.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
